{{!< default}}

<div id="wrapper" class="content-fluid">
    <div class="row">
        <div id="sidebar" class="col-xs-5" {{#if @blog.cover}} style="background-image: url({{@blog.cover}});" {{/if}}>
            {{#if @blog.logo}}
            <img id="logo-banner" src="{{@blog.logo}}">
            {{/if}}
            <h1>En Los Nervios</h1>
            <div id="banner"></div>
        </div>
        <div class="col-xs-8 col-xs-offset-5" style="height:9000px;">
            <div id="menu" class="col-xs-4">
                <div class="centered-container">
                    <img id="logo-menu" src="assets/img/logo-editorial.png">
                </div>
                <ul>
                    <li>Hola</li>
                    <li>Hola</li>
                    <li>Hola</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--<div class="row wrapper">
    <div class="large-2 columns sidebar">
        <div class="logo-container">
            <h3>EN LOS NERVIOS</h3>
            <img class="logo" src="{{@blog.logo}}" alt="En Los Nervios">
        </div>
        <ul class="card no-bullet">
            <li><strong>Montevideo, Uruguay</strong></li>
            <li><i class="fa fa-inbox"></i> enlosnervios@gmail.com</li>
            <li><i class="fa fa-facebook-square"></i> facebook.com/enlosnervios.zine</li>
            <li class="license">
                Todos los contenidos, excepto se especifique lo contrario, son publicados bajo licencia Creative Commons CC-BY 3.0<br/>
                <i class="openwebicons-cc"></i><i class="openwebicons-cc-by"></i></i>
            </li>
        </ul>
    </div>
    <div class="large-9 columns main">
        <h2>Fanzines</h2>
        <ul class="small-block-grid-3">
            {{#foreach posts}}
            <li><a class="th" href="#">{{content words="0"}}</a></li>
            {{/foreach}}
        </ul>
    </div>
</div>-->
