@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap";
@import url(http://weloveiconfonts.com/api/?family=openwebicons);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

@font-face {
    font-family: "Universalis";
    src: url(../fonts/UniversalisADFStd-Regular.woff);
}
@font-face {
    font-family: "Universalis Cond";
    src: url(../fonts/UniversalisADFStd-Cond.woff);
}

/* openwebicons */
[class*="openwebicons-"]:before {
  font-family: 'OpenWeb Icons', sans-serif;
  font-style: normal;
}

html,
body,
.container-fluid,
.row {
    height: 100%;
}

#wrapper {
    overflow: hidden;

    #sidebar {
        background-size: cover;
        height: 100%;
        position: fixed;
        left: 15px;

        h1 {
            color: #fff;
            font-family: "Universalis Cond";
            font-size: 4.5em;
            font-weight: bold;
            position: fixed;
            text-transform: uppercase;
            transform: rotate(-90deg);
            left: -2.5em;
            top: 240px;
            z-index: 100;
        }

        #banner {
            background-color: #000;
            box-shadow: 1px 1px 10px #000;
            height: 100%;
            width: 6em;
            position: fixed;
            top: 0;
            left: 0;
            overflow: hidden;
            white-space: nowrap;
        }

        #logo-banner {
            height: 50px;
            width: 50px;
            position: fixed;
            top: 20px;
            left: 1em;
            z-index: 100;
        }
    }

    .centered-container {
        text-align: center;
    }

    #menu {
        background-color: #fff;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        box-shadow: -2px 1px 10px #333;
        height: 100%;
        padding: 30px 15px;
        position: fixed;

        a {
            color: #333;
            font-family: "Universalis";
            font-size: 1.4em;
            text-transform: uppercase;
        }
        #logo-menu {
            height: 180px;
            width: 180px;
            margin-bottom: 30px;
        }
    }

    #content {
        padding: 0 60px;
        img {
            width: 100%;
            height: 100%;
        }
    }
}
