@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap";
@import url(http://weloveiconfonts.com/api/?family=openwebicons);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

@font-face {
    font-family: 'Universalis';
    src: url(../fonts/UniversalisADFStd-Cond.woff);
}

/* openwebicons */
[class*="openwebicons-"]:before {
  font-family: 'OpenWeb Icons', sans-serif;
  font-style: normal;
}

html,
body,
.container-fluid,
.row {
    height: 100%;
}

#wrapper {
    overflow: hidden;

    .sidebar {
        background-size: cover;
        height: 100%;
        position: fixed;

        h1 {
            color: #fff;
            font-family: "Universalis";
            font-size: 4em;
            font-weight: bold;
            position: fixed;
            text-transform: uppercase;
            transform: rotate(-90deg);
            left: -2.4em;
            top: 220px;
            z-index: 100;
        }

        .banner {
            background-color: #000;
            box-shadow: 1px 1px 10px #000;
            height: 100%;
            width: 6em;
            position: fixed;
            top: 0;
            left: 0;
            overflow: hidden;
            white-space: nowrap;
        }

        .logo {
            height: 50px;
            width: 50px;
            position: fixed;
            top: 20px;
            left: 1em;
            z-index: 100;
        }
    }

}
